#container {
    margin-right: auto; 
    margin-left: auto; 
    width: 50%; 
}

form {
    border-style: solid; 
    padding: 10px; 
}

.input-container {
    padding: 10px; 
}

#submitBtn {
    padding: 10px; 
}

.passwordTitle {
    margin-right: auto; 
    margin-left: auto; 
    width: 50%; 
    text-align: center; 
}

.passwords {
    margin-right: auto; 
    margin-left: auto; 
    width: 50%; 
    padding: 10px; 
    font-size: 24px; 
}