.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 4fr); 
    height: 100%; 
    grid-row-gap: 20px;  
    grid-column-gap: 20px; 
    font-family: sans-serif; 
}

.search {
    grid-row: 1; 
    grid-column: 2; 
}

.searchInput {
    width: 250px; 
}

.nav-container {
    display: grid; 
    grid-template: 2fr 4fr; 
    width: 100%; 
}

.mid {
    text-align: center;
    border-style: solid; 
}

.side-bar {
    grid-column: 1; 
    grid-row: 1 / 5; 
    border-style: solid; 
    list-style: none; 
    padding: 5px; 
}
.side-bar ul {
    color: rgb(26, 115, 232); 
    font-size: 22px; 
    font-weight: 500px;
    font-family: sans-serif;
}

.weather {
    grid-column: 3; 
    grid-row: 1;
    border-style: solid; 
}

.pic {
    float: right; 
}

.misc {
    grid-column: 3; 
    grid-row: 2 / 4; 
    border-style: solid; 
    text-align: center; 
    list-style: none; 
    text-align: left; 
}
.misc p {
    font-size: 24px; 
    padding: 10px; 
    text-align: left; 
}

.misc h2 {
    font-size: 32px;
}
.misc h3 {
    font-size: 28px; 
}


ul {
    list-style: none; 
}

ul li::before {
    content: "•";
    color: blue; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

.stories {  
    text-align: left; 
    font-size: 22px;
}
.stories li {
    padding: 10px; 
}
